@using Cabinet.Models.CabinetViewModel.Consultations


@model ConsultationViewModel
<div class="row">
    <div>
        <input required="" type="hidden" asp-for="Examination.Articulation.Id">
    </div>
    <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
        <div class="e-float-input">
            <input required="" type="text" asp-for="Examination.Articulation.Ortolani">
            <span class="e-float-line"></span>
            <label class="e-float-text" asp-for="Examination.Articulation.Ortolani">Ortolani: </label>
        </div>
    </div>

    <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
        <div class="e-float-input">
            <input required="" type="text" asp-for="Examination.Articulation.Libres">
            <span class="e-float-line"></span>
            <label class="e-float-text" asp-for="Examination.Articulation.Libres">Libres: </label>
        </div>
    </div>

    <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
        <div class="e-float-input">
            <input required="" type="text" asp-for="Examination.Articulation.Douleur">
            <span class="e-float-line"></span>
            <label class="e-float-text" asp-for="Examination.Articulation.Douleur">Douleurs: </label>
        </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-lg-2 col-md-2">
        <div class="e-float-input">
            <input required="" type="text" asp-for="Examination.Articulation.Rougeur">
            <span class="e-float-line"></span>
            <label class="e-float-text" asp-for="Examination.Articulation.Rougeur">Rougeur: </label>
        </div>
    </div>
    <div class="col-xs-1 col-sm-1 col-lg-1 col-md-1">
        <div class="e-float-input">
            <input required="" type="text" asp-for="Examination.Articulation.Enflement">
            <span class="e-float-line"></span>
            <label class="e-float-text" asp-for="Examination.Articulation.Enflement">Enflement: </label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <div class="e-float-input">
            <input required="" type="text" asp-for="Examination.Articulation.Malformations">
            <span class="e-float-line"></span>
            <label class="e-float-text" asp-for="Examination.Articulation.Malformations">Description: </label>
        </div>
    </div>


</div>