@using Cabinet.Models.CabinetViewModel.Consultations


@model ConsultationViewModel

<div class="mt-3">
    <ejs-accordion id="ParentNested3" expandMode="Multiple">
        <e-accordion-accordionitems>
            <e-accordion-accordionitem header="Inspection" content='#nested31' expanded="false"></e-accordion-accordionitem>
            <e-accordion-accordionitem header="Peau" content='#nested32' expanded="false"></e-accordion-accordionitem>
            <e-accordion-accordionitem header="Palpation" content='#nested33' expanded="false"></e-accordion-accordionitem>
            <e-accordion-accordionitem header="Articulations" content='#nested34' expanded="false"></e-accordion-accordionitem>
            <e-accordion-accordionitem header="Tete" content='#nested35' expanded="false"></e-accordion-accordionitem>
            <e-accordion-accordionitem header="Auscultation cardio-pulmonaire" content='#nested36' expanded="false"></e-accordion-accordionitem>
            <e-accordion-accordionitem header="Abdomen" content='#nested37' expanded="false"></e-accordion-accordionitem>
            <e-accordion-accordionitem header="O.G.E" content='#nested38' expanded="false"></e-accordion-accordionitem>
            <e-accordion-accordionitem header="Examen neurologique" content='#nested39' expanded="false"></e-accordion-accordionitem>
            <e-accordion-accordionitem header="Autres" content='#nested40' expanded="false"></e-accordion-accordionitem>
        </e-accordion-accordionitems>
    </ejs-accordion>
    <div class="control_wrapper accordion-control-section">
        <div id="nested31" style="display: none">
            @await Html.PartialAsync("../Consultations/_InspectionPartial.cshtml", Model)
        </div>
        <div id="nested32" style="display: none">
            @await Html.PartialAsync("../Consultations/_SkinPartial.cshtml", Model)
        </div>
        <div id="nested33" style="display: none">
            @await Html.PartialAsync("../Consultations/_PalpationPartial.cshtml", Model)
        </div>
        <div id="nested34" style="display: none">
            @await Html.PartialAsync("../Consultations/_ArticulationsPartial.cshtml", Model)
        </div>
        <div id="nested35" style="display: none">
            @await Html.PartialAsync("../Consultations/_HeadPartial.cshtml", Model)
        </div>
        <div id="nested36" style="display: none">
            @await Html.PartialAsync("../Consultations/_AuscultationCardioPulmonairePartial.cshtml", Model)
        </div>
        <div id="nested37" style="display: none">
            @await Html.PartialAsync("../Consultations/_AbdomenPartial.cshtml", Model)
        </div>
        <div id="nested38" style="display: none">
            @await Html.PartialAsync("../Consultations/_OgePartial.cshtml", Model)
        </div>
        <div id="nested39" style="display: none">
            @await Html.PartialAsync("../Consultations/_NeurologiquePartial.cshtml", Model)
        </div>
       
        <div id="nested40" style="display: none">
            <div class="row">
                <div>
                    <input required="" type="hidden" asp-for="Examination.Id">
                </div>
                <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                    <div class="e-float-input">
                        <input required="" type="text" asp-for="Examination.Autres">
                        <span class="e-float-line"></span>
                        <label class="e-float-text" asp-for="Examination.Autres">Autres: </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
