@using Cabinet.Models.CabinetViewModel.Consultations


@model ConsultationViewModel

    <div class="row">
        <div>
            <input required="" type="hidden" asp-for="Therapie.Id">
        </div>
        <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
            <div class="e-float-input">
                <input required="" type="number" asp-for="Therapie.AllergieMedicamenteuse">
                <span class="e-float-line"></span>
                <label class="e-float-text" asp-for="Therapie.AllergieMedicamenteuse">Allergie medicamenteuse: </label>
            </div>
        </div>

        <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
            <div class="e-float-input">
                <input required="" type="number" asp-for="Therapie.AllergieMedicamenteuseDescr">
                <span class="e-float-line"></span>
                <label class="e-float-text" asp-for="Therapie.AllergieMedicamenteuseDescr">Allergie medicamenteuse: </label>
            </div>
        </div>

        <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
            <div class="e-float-input">
                <input required="" type="number" asp-for="Therapie.Ordonnance">
                <span class="e-float-line"></span>
                <label class="e-float-text" asp-for="Therapie.Ordonnance">Ordonnance: </label>
            </div>
        </div>      
    </div>
   