@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Syncfusion.EJ2
@using Cabinet.Models.CabinetViewModel.Consultations
@model ConsultationViewModel
@section ControlsSection{
    @{

    }

<div class="mt-3">
    <Form asp-controller="Consultations" asp-action="Consultation" method="post">
        <ejs-accordion id="ParentNested" expandMode="Multiple">
            <e-accordion-accordionitems>
                <e-accordion-accordionitem header="ANAMNÈSE" content='#nested1' expanded="false"></e-accordion-accordionitem>
                <e-accordion-accordionitem header="MENSURATIONS" content='#nested2' expanded="false"></e-accordion-accordionitem>
                <e-accordion-accordionitem header="EXAMENS" content='#nested30' expanded="true"></e-accordion-accordionitem>
                <e-accordion-accordionitem header="EXAMENS BIOLOGIQUES" content='#nested4' expanded="false"></e-accordion-accordionitem>
                <e-accordion-accordionitem header="EXAMENS RADIOLOGIQUES" content='#nested5' expanded="false"></e-accordion-accordionitem>
                <e-accordion-accordionitem header="DIAGNOSTICS" content='#nested6' expanded="false"></e-accordion-accordionitem>
                <e-accordion-accordionitem header="THÉRAPIE" content='#nested7' expanded="false"></e-accordion-accordionitem>
                <e-accordion-accordionitem header="SYNTHÈSE" content='#nested8' expanded="false"></e-accordion-accordionitem>
                <e-accordion-accordionitem header="PROCHAIN RDV." content='#nested9' expanded="false"></e-accordion-accordionitem>
            </e-accordion-accordionitems>
        </ejs-accordion>
        <div class="control_wrapper accordion-control-section">
            <div id="nested1" style="display: none">
                <div class="row">
                    <div>
                        <input required="" type="hidden" asp-for="Id">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                        <div class="e-float-input">
                            <input required="" type="text" asp-for="Anamnese">
                            <span class="e-float-line"></span>
                            <label class="e-float-text" asp-for="Anamnese">Anamnese: </label>
                        </div>
                    </div>
                </div>
            </div>

            <div id="nested2" style="display: none">
                @await Html.PartialAsync("../Shared/Consultations/_MensurationsPartial.cshtml", Model)
            </div>

            <div id="nested30" style="display: none">
                @await Html.PartialAsync("../Shared/Consultations/_ExaminationsPartial.cshtml", Model)
            </div>

            <div id="nested4" style="display: none">
                <div class="row">
                    <div>
                        <input required="" type="hidden" asp-for="Id">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                        <div class="e-float-input">
                            <input required="" type="text" asp-for="Biologique">
                            <span class="e-float-line"></span>
                            <label class="e-float-text" asp-for="Biologique">Examens biologiques: </label>
                        </div>
                    </div>
                </div>
            </div>

            <div id="nested5" style="display: none">
                <div class="row">
                    <div>
                        <input required="" type="hidden" asp-for="Id">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                        <div class="e-float-input">
                            <input required="" type="text" asp-for="Radiologique">
                            <span class="e-float-line"></span>
                            <label class="e-float-text" asp-for="Radiologique">Examens Radiologiques: </label>
                        </div>
                    </div>
                </div>
            </div>

            <div id="nested6" style="display: none">
                <div class="row">
                    <div>
                        <input required="" type="hidden" asp-for="Id">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                        <div class="e-float-input">
                            <input required="" type="text" asp-for="Diagnostic">
                            <span class="e-float-line"></span>
                            <label class="e-float-text" asp-for="Diagnostic">Diagnostics: </label>
                        </div>
                    </div>
                </div>
            </div>

            <div id="nested7" style="display: none">
                @await Html.PartialAsync("../Shared/Consultations/_ThearapiePartial.cshtml", Model)
            </div>

            <div id="nested8" style="display: none">
                <div class="row">
                    <div>
                        <input required="" type="hidden" asp-for="Id">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                        <div class="e-float-input">
                            <input required="" type="text" asp-for="Synthèse">
                            <span class="e-float-line"></span>
                            <label class="e-float-text" asp-for="Synthèse">Synthèse: </label>
                        </div>
                    </div>
                </div>
            </div>

            <div id="nested9" style="display: none">
                <div class="row">
                    <div>
                        <input required="" type="hidden" asp-for="Id">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                        <div class="e-float-input">
                            <input required="" type="text" asp-for="NextRDV">
                            <span class="e-float-line"></span>
                            <label class="e-float-text" asp-for="NextRDV">Prochain RDV.: </label>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-md-1 offset-md-11">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>



        @*<ejs-accordion id="defaultAccordion">
            <e-accordion-accordionitems>
                <e-accordion-accordionitem expanded="true" header="ASP.NET" content="<div>Test</div>">


                </e-accordion-accordionitem>
                <e-accordion-accordionitem header="ASP.NET MVC" content="Test2"></e-accordion-accordionitem>
                <e-accordion-accordionitem header="JavaScript" content="Test3"></e-accordion-accordionitem>
            </e-accordion-accordionitems>
        </ejs-accordion>*@


        @*</div>*@
    </Form>
</div>

}

<style>


    .e-input-picture::before {
        content: '\e7b3';
        font-family: e-icons;
    }

    .e-input-calendar::before {
        content: '\e901';
        font-family: e-icons;
        font-size: 13px;
    }

    .content-wrapper {
        width: 90%;
        margin: 0 auto;
        min-width: 85px;
    }

        .content-wrapper div.row {
            padding: 15px 0px;
        }

    .custom-padding-05 {
        padding-top: 5px;
    }

    @@media only screen and (max-width: 480px) {
        .content-wrapper {
            width: 92%;
        }

        .col-xs-6,
        .col-xs-4,
        .col-xs-12 {
            padding: 10px 5px;
            width: 100%;
        }

        .content-wrapper div.row {
            padding: 0px;
        }
    }

    #description td {
        vertical-align: top;
    }
</style>

@section Scripts {


    @*<script>
            var inputObject = {};
            var input = document.querySelectorAll('.e-input-group .e-input,.e-float-input.e-input-group input');
            var inputIcon = document.querySelectorAll('.e-input-group-icon');
            var focusFn = function (index) {
                return function () {
                    getParentNode(input[index]).classList.add('e-input-focus');
                };
            };
            var blurFn = function (index) {
                return function () { getParentNode(input[index]).classList.remove('e-input-focus'); };
            };
            var mouseupFn = function () {
                var ele = this; setTimeout(function () {
                    ele.classList.remove('e-input-btn-ripple');
                }, 500);
            };
            for (var i = 0; i < input.length; i++) {
                input[i].addEventListener('focus', focusFn(i));
                input[i].addEventListener('blur', blurFn(i));
            }
            for (var j = 0; j < inputIcon.length; j++) {
                inputIcon[j].addEventListener('mousedown', function () {
                    this.classList.add('e-input-btn-ripple');
                });
                inputIcon[j].addEventListener('mouseup', mouseupFn);
            }
            function getParentNode(element) {
                var parentNode = element.parentNode;
                if (parentNode.classList.contains('e-input-in-wrap')) {
                    return parentNode.parentNode;
                }
                return parentNode;
            }
        </script>*@
}
