@using Cabinet.Models.CabinetViewModel.Consultations
@{
    ViewData["Title"] = "Patient";
    @model ConsultationsViewModel
}
@section ControlsSection{
    @{

        List<object> toolbarItems = new List<object>() { "Add", "Edit", "Update", "Delete", "Print", "Search" };
        string url = "/Consultations/Consultations/" + Model.Patient.Id.ToString();
    }

    <div>
        <div>
            <ejs-grid id="Grid" locale="fr-FR" dataSource="@Model.Patient.Consultations" toolbar=toolbarItems toolbarClick="toolbarClick" allowPaging="true" allowSorting="true" allowFiltering="true" allowGrouping="true">
                @*<e-data-manager url="url" insertUrl="/Consultations/Insert" updateUrl="/Consultations/Update" removeUrl="/Consultations/Delete" adaptor="UrlAdaptor"></e-data-manager>*@
                <e-grid-editSettings  allowDeleting="true" showDeleteConfirmDialog="true"></e-grid-editSettings>
                <e-grid-selectionsettings type="Single" mode="Row"></e-grid-selectionsettings>
                <e-grid-pagesettings pageCount="4" pageSizes="true"></e-grid-pagesettings>
                <e-grid-columns>
                    <e-grid-column field="Id" headerText="Consultation ID" visible="false" isPrimaryKey="true" textAlign="Right" validationRules="@(new { required=true})" width="100"></e-grid-column>
                    @*<e-grid-column id="Test" field="Id" headerText="Customer ID" width="150" textAlign="Center"></e-grid-column>*@
                    <e-grid-column field="Information" validationRules="@(new { required=true})" headerText="Information" textAlign="Center" width="120"></e-grid-column>
                    <e-grid-column field="Date" validationRules="@(new { required=true})" headerText="Date of Consultation" width="130" textAlign="Center" editType="datepickeredit" format="yMd"></e-grid-column>
                </e-grid-columns>
            </ejs-grid>
        </div>
    </div>
}


