@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Syncfusion.EJ2
@using Cabinet.Models.CabinetViewModel
@model PatientViewModel

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <b>Patient</b>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <div class="e-float-input">
                    <input required="" type="text" asp-for="Name">
                    <span class="e-float-line"></span>
                    <label class="e-float-text" asp-for="Name">Nom</label>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <div class="e-float-input">
                    <input required="" type="text" asp-for="FirstName">
                    <span class="e-float-line"></span>
                    <label class="e-float-text" asp-for="FirstName">Prénom</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <div class="e-float-input">
                    <input required="" type="date" asp-for="DateOfBirth">
                    <span class="e-float-line"></span>
                    <label class="e-float-text" asp-for="DateOfBirth">Date de Naissance</label>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <div class="e-float-input">
                    <input required="" type="text" asp-for="Age.FullAge">
                    <span class="e-float-line"></span>
                    <label class="e-float-text" asp-for="Age.FullAge">Age</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <div class="e-float-input">
                    <input required="" type="text" asp-for="Adresse">
                    <span class="e-float-line"></span>
                    <label class="e-float-text" asp-for="Adresse">Adresse</label>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <div class="e-float-input">
                    <input required="" type="tel" asp-for="Tel">
                    <span class="e-float-line"></span>
                    <label class="e-float-text" asp-for="Tel">Tel</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                <div class="e-float-input e-input-group">
                    <input required="" type="text">
                    <span class="e-float-line"></span>
                    <label class="e-float-text">Consultations</label>
                    <span class="e-input-group-icon e-spin-down"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <b>Grossesse</b>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                <div class="e-float-input">
                    <input required="" type="number">
                    <span class="e-float-line"></span>
                    <label class="e-float-text">Semaine</label>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                <div class="e-float-input">
                    <input required="" type="number">
                    <span class="e-float-line"></span>
                    <label class="e-float-text">Jour</label>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                <div class="e-float-input">
                    <input required="" type="number">
                    <span class="e-float-line"></span>
                    <label class="e-float-text">Poid de Naissance</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <b>Naissance</b>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                <div class="e-float-input">
                    <input required="" type="number" asp-for="Born.BirthWeight">
                    <span class="e-float-line"></span>
                    <label class="e-float-text" asp-for="Born.BirthWeight">Poids de naissance en gr.</label>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                <div class="e-float-input">
                    <input required="" type="checkbox" asp-for="Born.Cry">
                    <span class="e-float-input"></span>
                    <label class="e-float-text" asp-for="Born.Cry">Cri immédiat</label>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                <div class="e-float-input">
                    <input required="" type="number">
                    <span class="e-float-line"></span>
                    <label class="e-float-text">Allaitement</label>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                <div class="e-float-input">
                    <input required="" type="text">
                    <span class="e-float-line"></span>
                    <label class="e-float-text">Remarque</label>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                <div class="e-float-input">
                    <input required="" type="number">
                    <span class="e-float-line"></span>
                    <label class="e-float-text">Poid de Naissance</label>
                </div>
            </div>
        </div>
     



        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <div class="e-input-group">
                    <input class="e-input" placeholder="Password" value="password" type="password">
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <div class="e-input-group">
                    <input class="e-input" placeholder="Enter Email" type="email">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <div class="e-input-group e-disabled">
                    <input class="e-input" placeholder="Disabled" disabled="" type="text">
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <div class="e-input-group">
                    <input class="e-input" placeholder="Enter Name" value="Readonly" readonly="" type="text">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <b>Validation States</b>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                <div class="e-input-group e-success">
                    <input class="e-input" placeholder="Success" type="text">
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                <div class="e-input-group e-warning">
                    <input class="e-input" placeholder="Warning" type="text">
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                <div class="e-input-group e-error">
                    <input class="e-input" placeholder="Error" type="text">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <b>Sizing</b>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6 custom-padding-05">
                <div class="e-input-group e-small">
                    <input class="e-input" placeholder="Small" type="text">
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <div class="e-input-group">
                    <input class="e-input" placeholder="Normal" type="text">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <b>Input &amp; Elements</b>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <div class="e-input-group">
                    <input class="e-input" placeholder="Date of Birth" type="text">
                    <span id="DOB" class="e-input-group-icon e-input-calendar"></span>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <div class="e-input-group e-float-icon-left">
                    <span class="e-input-group-icon e-input-picture"></span>
                    <div class="e-input-in-wrap">
                        <input class="e-input" placeholder="Upload Picture" type="text">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .e-input-picture::before {
        content: '\e7b3';
        font-family: e-icons;
    }

    .e-input-calendar::before {
        content: '\e901';
        font-family: e-icons;
        font-size: 13px;
    }

    .content-wrapper {
        width: 90%;
        margin: 0 auto;
        min-width: 85px;
    }

        .content-wrapper div.row {
            padding: 15px 0px;
        }

    .custom-padding-05 {
        padding-top: 5px;
    }

    @@media only screen and (max-width: 480px) {
        .content-wrapper {
            width: 92%;
        }

        .col-xs-6,
        .col-xs-4,
        .col-xs-12 {
            padding: 10px 5px;
            width: 100%;
        }

        .content-wrapper div.row {
            padding: 0px;
        }
    }

    #description td {
        vertical-align: top;
    }
</style>

@section Scripts {
    <script>
        var inputObject = {};
        var input = document.querySelectorAll('.e-input-group .e-input,.e-float-input.e-input-group input');
        var inputIcon = document.querySelectorAll('.e-input-group-icon');
        var focusFn = function (index) {
            return function () {
                getParentNode(input[index]).classList.add('e-input-focus');
            };
        };
        var blurFn = function (index) {
            return function () { getParentNode(input[index]).classList.remove('e-input-focus'); };
        };
        var mouseupFn = function () {
            var ele = this; setTimeout(function () {
                ele.classList.remove('e-input-btn-ripple');
            }, 500);
        };
        for (var i = 0; i < input.length; i++) {
            input[i].addEventListener('focus', focusFn(i));
            input[i].addEventListener('blur', blurFn(i));
        }
        for (var j = 0; j < inputIcon.length; j++) {
            inputIcon[j].addEventListener('mousedown', function () {
                this.classList.add('e-input-btn-ripple');
            });
            inputIcon[j].addEventListener('mouseup', mouseupFn);
        }
        function getParentNode(element) {
            var parentNode = element.parentNode;
            if (parentNode.classList.contains('e-input-in-wrap')) {
                return parentNode.parentNode;
            }
            return parentNode;
        }
    </script>
}

@*<div class="row">
        <div class="col-md-4">
            <section>
                <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FirstName"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="DateOfBirth">
                                <input asp-for="DateOfBirth" />
                                @Html.DisplayNameFor(m => m.DateOfBirth)
                            </label>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>*@