
@{
    ViewData["Title"] = "Patient";
    @model PatientIndexViewModel
}


<div>
    <div>
        <ejs-grid id="Grid" dataSource=@Model.PatientItems allowPaging="true" allowSorting="true" allowFiltering="true" allowGrouping="true">
            <e-grid-columns>
                <e-grid-column field="Id" headerText="Customer ID" width="150" textAlign="Center"></e-grid-column>
                <e-grid-column field="Name" headerText="Nom" textAlign="Center" width="120"></e-grid-column>
                <e-grid-column field="FirstName" headerText="Prenom" textAlign="Center" width="120"></e-grid-column>
                <e-grid-column field="DateOfBirth" headerText="Date de naissance" width="130" textAlign="Center" format="yMd"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>





