
@{
    ViewData["Title"] = "Patient";
    @model PatientIndexViewModel
}
@section ControlsSection{

    @{

        List<object> toolbarItems = new List<object>() { "Add", "Edit", "Update", "Print", "Search", new { text = "Informations", tooltipText = "Edit Informations", prefixIcon = "e-expand", id = "editall" }, new { text = "Famille", tooltipText = "Edit Family", prefixIcon = "e-expand", id = "editFamily" } };
    }

    <div>
        <div>
            <ejs-grid id="Grid" dataSource=@Model.PatientItems toolbar=toolbarItems toolbarClick="toolbarClick" allowPaging="true" allowSorting="true" allowFiltering="true" allowGrouping="true">

                <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true" mode="Dialog"></e-grid-editSettings>
                <e-grid-selectionsettings type="Single" mode="Row"></e-grid-selectionsettings>
                <e-grid-pagesettings pageCount="4" pageSizes="true"></e-grid-pagesettings>
                <e-grid-columns>
                    @*<e-grid-column id="Test" field="Id" headerText="Customer ID" width="150" textAlign="Center"></e-grid-column>*@
                    <e-grid-column field="Name" headerText="Nom" textAlign="Center" width="120"></e-grid-column>
                    <e-grid-column field="FirstName" headerText="Prenom" textAlign="Center" width="120"></e-grid-column>
                    <e-grid-column field="DateOfBirth" headerText="Date de naissance" width="130" textAlign="Center" editType="datepickeredit" format="yMd"></e-grid-column>
                </e-grid-columns>
            </ejs-grid>
        </div>
    </div>
}
@section Scripts {



}

@*<e-data-manager url="/Patient/Index" insertUrl="/Patient/Insert" updateUrl="/Patient/Update" removeUrl="/Patient/Delete" adaptor="UrlAdaptor"></e-data-manager>*@

