
@{
    ViewData["Title"] = "Patient";
    @model PatientIndexViewModel
}


<div class="container">
    @if (Model.PatientItems.Any())
    {
        <partial name="_pagination" for="PaginationInfo" />

        <div class="esh-catalog-items row">
            @foreach (var patientItem in Model.PatientItems)
            {
                <div class="esh-catalog-item col-md-4">
                    <partial name="_patient" model="patientItem" />
                </div>
            }
        </div>

        <partial name="_pagination" for="PaginationInfo" />
    }
    else
    {
        <div class="esh-catalog-items row">
            THERE ARE NO RESULTS THAT MATCH YOUR SEARCH
        </div>
    }
</div>
<div>
    @if (Model.PatientItems.Any())
    {
        @foreach (var patientItem in Model.PatientItems)
        {
            <table>

                <tr>
                    <td>
                        @patientItem.Name
                    <td>
                        @patientItem.Id
                    </td>

                <tr>
            </table>
        }
    }
 </div>

