@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Mustapha Helaoui<br />
    Rue Slahdin Ayoubi<br />
    7070 Rasjebel<br />
    <abbr title="Phone">P:</abbr>
    0021672447520
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
